@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  /* COLOR CONTROL start */
  --clr-primary: #FFFFFF;
  --clr-primary-dark: #CECECE;

  --clr-neutral: #5AA4DB;
  --clr-neutral-dark: #3F4DF5;
  --clr-neutral-light: #E2F2FF;

  --clr-accent: #F5CC42;
  --clr-accent-dark: #D5963A;
  /* COLOR CONTROL end */

  /* FONT CONTROL start */
  font-family: Poppins, sans-serif;

  --fc-dark: #2D2D2D;
  --fc-gray: #B5B5B5;
  /* FONT CONTROL end */

  --sidebar-width: 250px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

html,
body {
  margin: 0;
  height: 100%;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

svg,
picture,
img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
